.container {
  width: 60%;
  height: auto;
  padding-top: 60px;
  margin: auto;
  .info {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .prods {
    .image {
      width: 60px;
      height: auto;
    }
  }
  @media (max-width: 1200px) {
    width: 80%;
    .info {
      margin-right: 15px;
      * {
        margin: 2px;
      }
    }
  }
  @media (max-width: 800px) {
    width: 95%;
    .info {
      flex-direction: column;
      align-content: flex-start;
      justify-content: space-around;
    }
  }
}
