body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vazir';
  src: local('Vazir'),
    url('./assets/Fonts/Vazir-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Vazir';
  src: url('./assets/Fonts/Vazir-Bold.ttf');
  font-weight: bold;
}

* {
  font-family: 'Vazir', 'Roboto', sans-serif;
}
