.container {
  // border: 1px solid red;
  margin: 5px auto;
  width: 100%;
  // display: flex;

  .vitrin {
    width: 65%;
    display: flex;
    margin: auto;
    justify-content: center;

    .image {
      width: 105px;
      height: 155px;
    }
    .name {
      padding: 0 10px;
      width: 25%;
      display: inline-block;
      small {
        margin: 0;
      }
      h4 {
        margin-top: 2px;
      }
      // border: 1px solid darkcyan;
    }
    .info {
      padding: 0 10px;
      width: 15%;
      display: inline-block;
      // border: 1px solid darkcyan;
    }
  }
  @media (max-width: 1300px) {
    width: 80%;
    .vitrin {
      width: 100%;
      justify-content: space-between;
      .image {
        width: 85px;
        height: 120px;
      }
      .info {
        padding: 0;
        width: 20%;
      }
    }
  }
  @media (max-width: 700px) {
    width: 98%;
  }
}
